/* Styles de la page de connexion et d'inscription */
.fenetre__connexion {
    background-color: rgb(188, 196, 206, 0.72);
    padding: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    border-radius: 5px;
}

.fenetre__connexion-formulaire {
    text-align: center;
}

.fenetre__connexion-formulaire_champs {
    width: 30vw;
    height: 30px;
    padding: 0;
    border-radius: 0;
    border-style: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    padding-left: 5px;
}

.fenetre__connexion-formulaire_submit {
    width: 30vw;
    height: 30px;
    border-radius: 0;
    border-style: none;
    background-color: rgb(204, 187, 119);
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    padding: 0;
}

.fenetre__connexion-formulaire_submit:hover {
    background-color: rgb(48, 114, 172);
    color: white;
    transition: .1s;
}

.fenetre__connexion-options {
    margin-top: 20px;
    text-align: center;
}

.fenetre__connexion-msg_erreur {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    color: rgb(112, 14, 14);
    background-color: rgba(174, 207, 236, 0.784);
    border-radius: 5px;
}

