{% extends "base.twig.html" %}
{% block main %}
    <main class="fenetre__contacts">
        <h2>Contacts</h2>
        <a href="contact/tout?ajout=oui"><img src="https://s2.svgbox.net/hero-solid.svg?ic=plus&color=000000" width="32" height="32"></a>
        
        {% if _get.ajout is not null %}
        <section>
            <form action="contact/ajout" method="POST">
                <input type="text" name="ctc_prenom" id="ctc_prenom" placeholder="Prénom" required>
                <input type="text" name="ctc_nom" id="ctc_nom" placeholder="Nom" required>
                <select name="tel_type" id="tel_type" required>
                    <option value="Choisir" selected>-- Type --</option>
                    <option value="Cellulaire">Cellulaire</option>
                    <option value="Domicile">Domicile</option>
                    <option value="Bureau">Bureau</option>
                    <option value="Autre">Autre</option>
                </select>
                {# <input type="select" name="tel_type" id="tel_type" value="{{_get.telType}}" placeholder="Type"> #}
                <input type="text" name="tel_numero" id="tel_numero" placeholder="Numéro de téléphone" required>
                <input type="text" name="tel_poste" id="tel_poste" placeholder="Poste (Facultatif)">
                <button type="submit">Ajouter</button>
            </form>
        </section>
        {% endif %}
        {% if _get.idModification is not null %}
        <section>
            <form action="contact/modification" method="POST">
                <input type="text" name="ctc_id" id="ctc_prenom" value="{{_get.idModification}}" hidden>
                <input type="text" name="tel_ctc_id_ce" id="tel_ctc_id_ce" value="{{_get.telCtcIdCe}}" hidden>
                <input type="text" name="ctc_prenom" id="ctc_prenom" value="{{_get.prenom}}" placeholder="Prénom">
                <input type="text" name="ctc_nom" id="ctc_nom" value="{{_get.nom}}" placeholder="Nom">
                
                {% for num in range(1, _get.nombreNum) %}
                    
                    {% set type = attribute(_get, "telType" ~ num) %}
                    {% set numero = attribute(_get, "telNumero" ~ num) %}
                    {% set poste = attribute(_get, "telPoste" ~ num) %}
                    {% set telId = attribute(_get, "telId" ~ num) %}
                    {% set nomEtIdType = "telType" ~ num %}
                    {% set nomEtIdNumero = "telNumero" ~ num %}
                    {% set nomEtIdPoste = "telPoste" ~ num %}
                    {% set nomEtIdTel = "telId" ~ num %}

                    <select name="{{nomEtIdType}}" id="{{nomEtIdType}}">
                        <option value=""></option>
                        <option value="Cellulaire" {{ type == "Cellulaire" ? "selected" : '' }}>Cellulaire</option>
                        <option value="Domicile" {{ type == "Domicile" ? "selected" : '' }}>Domicile</option>
                        <option value="Bureau" {{ type == "Bureau" ? "selected" : '' }}>Bureau</option>
                        <option value="Autre" {{ type == "Autre" ? "selected" : '' }}>Autre</option>
                    </select>

                    <input type="text" name="{{nomEtIdNumero}}" id="{{nomEtIdNumero}}" value="{{numero}}" placeholder="Numéro de téléphone">
                    <input type="text" name="{{nomEtIdPoste}}" id="{{nomEtIdPoste}}" value="{{poste}}" placeholder="Poste">
                    <input type="text" name="nbEntre" id="nbEntre" value="{{num}}" hidden>
                    <input type="text" name="{{nomEtIdTel}}" id="{{nomEtIdTel}}" value="{{telId}}" hidden>
                {% endfor %}
                <button type="submit">Enregistrer les modifications</button>
            </form>
        </section>
        {% endif %}
        <section>
            <ul class="fenetre__contacts-liste_contacts">
                {% for contact, infos in contacts %}
                <li class="fenetre__contacts-liste_item">
                    <div class="fenetre__contacts-icones_container">
                        <a href="contact/tout/?idModification={{infos.0.ctc_id}}&telCtcIdCe={{infos.0.tel_ctc_id_ce}}&prenom={{infos.0.ctc_prenom}}&nom={{infos.0.ctc_nom}}{% for cle in infos %}&telId{{loop.index}}={{cle.tel_id}}&telType{{loop.index}}={{cle.tel_type}}&telNumero{{loop.index}}={{cle.tel_numero}}{% if cle.tel_poste %}&telPoste{{loop.index}}={{cle.tel_poste}}{% endif %}&nombreNum={{infos|length}}{% endfor %}">
                            <img src="https://s2.svgbox.net/hero-solid.svg?ic=pencil&color=000000" width="18" height="18">
                        </a>
                        <a href="contact/suppression?idSuppression={{infos.0.ctc_id}}"><img src="https://s2.svgbox.net/hero-solid.svg?ic=x&color=000000" width="18" height="18"></a>
                    </div>
                    <div class="fenetre__contacts-infos_container">
                        <div class="fenetre__contacts-nom_contact">
                            <span class="fenetre__contacts-nom">{{contact}}</span>
                        </div>  
                        <div class="fenetre__contacts-infos_contact">
                            {% for cle in infos %}
                            <div>
                                <span class="fenetre__contacts-tel_type">{{cle.tel_type}} : </span>
                                <span class="fenetre__contacts-tel_numero">{{cle.tel_numero}}</span>
                                {% if cle.tel_poste %} <span class="fenetre__contacts-tel_poste">Poste: {{cle.tel_poste}}</span> {% endif %} 
                            </div>
                            {% endfor %}
                        </div> 
                    </div>
                </li>
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock %}