{% extends "base.twig.html" %}
{% block main %}
    <main class="fenetre__connexion">
        <h2>Connexion</h2>
        <form class="fenetre__connexion-formulaire" action="utilisateur/connexion" method="POST">
            <div>
                <input class="fenetre__connexion-formulaire_champs" type="text" name="uti_courriel" id="uti_courriel" placeholder="Adresse email" required>
            </div>
            <div>
                <input class="fenetre__connexion-formulaire_champs" type="password" name="uti_mdp" id="uti_mdp" placeholder="Mot de passe" required>
            </div>
            
            <button type="submit" class="fenetre__connexion-formulaire_submit">Se connecter</button>
        </form>
        <div class="fenetre__connexion-options">
            <a href="utilisateur/nouveau">S'inscrire</a>
            <a href="#">Mot de passe oublié?</a>
        </div>
        {% if erreur != '' %}
            <div class="fenetre__connexion-msg_erreur">{{erreur}}</div>
        {% endif %}
    </main>
{% endblock %}